global
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http
    bind *:80
    redirect scheme https if !{ ssl_fc }

frontend https
    bind *:443 ssl crt /certs/site.pem

    # API → backend
    acl is_api path_beg /api

    use_backend backend_api if is_api
    default_backend frontend_app

backend frontend_app
    server frontend frontend:80

backend backend_api
    server backend backend:9500