global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin

frontend https
    bind *:443 ssl crt /certs/site.pem
    default_backend frontend_app

backend frontend_app
    server frontend frontend:80

backend backend_api
    server backend backend:9500
