global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin

frontend http_https
    bind *:80
    bind *:443 ssl crt /usr/local/etc/haproxy/site.pem

    acl is_api path_beg /api
    http-request redirect scheme https unless { ssl_fc }
    use_backend backend_api if is_api
    default_backend frontend_app

backend frontend_app
    server frontend frontend:80

backend backend_api
    server backend backend:9500
